@import './assets/css/nav.css';
@import './assets/css/variables.css';
@import './assets/css/form.css';

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--light-parchment-color);
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

main {
    width: 90vw;
    display: flex;
    justify-content: center;
}

section {
    display: none;
}

section.active {
    display: unset;
}

.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.item-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.item-container .item-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.item-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.item-input-wrapper .dropdown {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    background-color: white;
    width: 100%;
}

.item-input-wrapper .dropdown .li:hover {
    background-color: grey;
}

li {
    list-style: none;
}

li:hover {
    background-color: grey;
    cursor: pointer;
}